@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
 
  @apply bg-black text-white;
}

/* input element styling */

.signup-input {
  @apply w-full px-4 py-3 text-base text-white  bg-gray-800 border-2 rounded-md border-gray-500 focus:outline-none focus:border-gray-400 ;
}

/* buttton styling */
.signup-btn {
  @apply w-full bg-green-500 hover:bg-green-400 text-black font-semibold p-3 rounded-md;
}

/* label styling */
.signup-heading{
  @apply  text-sm font-medium mb-1 text-white;
}
/* Hide the number input spinner in webkit-based browsers (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


